* text=auto eol=lf

*.py text eol=lf
*.html text eol=lf
*.js text eol=lf
*.css text eol=lf
*.sh text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf

*.zip binary
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.pdf binary
