tk-api.void52.site, dashboard.void52.site {
    encode gzip

    handle /api/* {
        reverse_proxy api:8000
    }

    handle {
        root * /srv
        try_files {path} /index.html
        header Cache-Control "no-store, max-age=0"
        file_server
    }
}
